
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ekle</h2>

<form class="form-horizontal" action="/Kisi/Ekle" method="post">
    <div class="form-group">
        @Html.Label("Ad")
        @Html.TextBox("Ad", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Soyad")
        @Html.TextBox("Soyad", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Firma")
        @Html.TextBox("Firma", null, new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-primary" value="Kaydet" />

</form>
