@model PhoneBook2.Models.KisiModel.KisiGuncelleViewModel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guncelle</h2>


@using (Html.BeginForm("Guncelle", "Kisi", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Kisi.Id)
<div class="form-group">
    @Html.LabelFor(x => x.Kisi.Ad)
    @Html.TextBoxFor(x => x.Kisi.Ad, null, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Kisi.Soyad)
    @Html.TextBoxFor(x => x.Kisi.Soyad, null, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Kisi.Firma)
    @Html.TextBoxFor(x => x.Kisi.Firma, null, new { @class = "form-control" })
</div>
<input type="submit" class="btn btn-primary" value="Güncelle" />
}


